.main-nav__toggle {
  position: absolute;
  top: 215px;
  right: 55px;

  @media (min-width: $desktops) {
    display: none;
  }
}

.main-nav {
  margin-top: 63px;

  @media (min-width: $desktops) {
    margin-top: 194px;
    margin-left: 241px;
    margin-right: 20px;
  }
}

.main-nav__menu {
  @include container;
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
  width: 335px;
  padding-left: 0;

  @media (min-width: $desktops) {
    width: 203px;
    box-shadow: none;
    width: 203px;
    text-align: end;
  }
}

// .main-nav__item {
//   border-top: 1px solid #000;
// }

.main-nav__link {
  display: block;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 16px 22px;
  color: #858a8a;

  @media (min-width: $desktops) {
    font-size: 26px;
    
    &[href]:hover {
      color: $black;
    }
  }
}
