.name {
  @include container;
  padding-top: 18px;

  @media (min-width: $desktops) {
    width: 322px;
    padding-top: 0;
    padding-left: 0;
    margin: 0;
  }
}

.name__info {
  padding-top: 21px;
  margin: 0;
  z-index: 1;
  
  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    height: 50px;
    width: 314px;
    margin-top: -87px;
    background-image: url("../img/background-text-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;

    @media (min-width: $desktops) {
      background-image: none;
    }
  }
}

.name__text {
  margin: 0;
  font-size: 27px;
  line-height: 33px;
  font-weight: 300;
  background: linear-gradient(to right, #2EC73D, #7C64C2 15%, #B31DB6
  45%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  @media (min-width: $desktops) {
    font-size: 63px;
    line-height: 79px;
  }
}
