@charset "UTF-8";
/*OpenSans Regular*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

/*OpenSans Light*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

/*OpenSans Bold*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #1d1d1d;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0; }

figure {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.page-header {
  background-color: #ffffff;
  width: 100%;
  min-height: 60px;
  padding-right: 0px;
  padding-left: 0px;
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; }
  @media (min-width: 1539px) {
    .page-header {
      width: 1539px; } }
  @media (min-width: 1539px) {
    .page-header {
      min-height: 87px; } }
  .page-header--full {
    position: relative; }

.page-header__logo {
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media (min-width: 660px) {
    .page-header__logo {
      margin-top: 23px;
      margin-bottom: 34px; } }

.page-header__toggle {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 24px;
  height: 19px;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none; }
  @media (min-width: 1539px) {
    .page-header__toggle {
      display: none; } }

.page-header__wrapper {
  width: 100%; }
  @media (min-width: 1539px) {
    .page-header__wrapper {
      width: 1539px;
      margin-left: auto;
      margin-right: auto;
      display: flex; } }

.page-header__menu {
  display: none;
  list-style: none; }
  @media (min-width: 1539px) {
    .page-header__menu {
      flex-wrap: wrap;
      display: flex;
      justify-content: flex-end;
      padding-left: 900px;
      padding-top: 15px; } }

.page-header__item {
  padding-right: 35px; }

.page-header__link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase; }
  .page-header__link[href]:hover, .page-header__link[href]:focus {
    color: #b31db6; }

.page-header__item--active {
  color: #940b97; }

.main-nav__toggle {
  position: absolute;
  top: 215px;
  right: 55px; }
  @media (min-width: 1539px) {
    .main-nav__toggle {
      display: none; } }

.main-nav {
  margin-top: 63px; }
  @media (min-width: 1539px) {
    .main-nav {
      margin-top: 194px;
      margin-left: 241px;
      margin-right: 20px; } }

.main-nav__menu {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
  width: 335px;
  padding-left: 0; }
  @media (min-width: 1539px) {
    .main-nav__menu {
      width: 1539px; } }
  @media (min-width: 1539px) {
    .main-nav__menu {
      width: 203px;
      box-shadow: none;
      width: 203px;
      text-align: end; } }

.main-nav__link {
  display: block;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 16px 22px;
  color: #858a8a; }
  @media (min-width: 1539px) {
    .main-nav__link {
      font-size: 26px; }
      .main-nav__link[href]:hover {
        color: #000000; } }

.name {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 18px; }
  @media (min-width: 1539px) {
    .name {
      width: 1539px; } }
  @media (min-width: 1539px) {
    .name {
      width: 322px;
      padding-top: 0;
      padding-left: 0;
      margin: 0; } }

.name__info {
  padding-top: 21px;
  margin: 0;
  z-index: 1; }
  .name__info::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    height: 50px;
    width: 314px;
    margin-top: -87px;
    background-image: url("../img/background-text-mobile.png");
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1; }
    @media (min-width: 1539px) {
      .name__info::after {
        background-image: none; } }

.name__text {
  margin: 0;
  font-size: 27px;
  line-height: 33px;
  font-weight: 300;
  background: linear-gradient(to right, #2EC73D, #7C64C2 15%, #B31DB6 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media (min-width: 1539px) {
    .name__text {
      font-size: 63px;
      line-height: 79px; } }

.description {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 10px; }
  @media (min-width: 1539px) {
    .description {
      width: 1539px; } }
  @media (min-width: 1539px) {
    .description {
      width: 702px;
      padding-right: 0;
      padding-left: 0;
      margin: 0;
      margin-top: 164px; } }

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left; }

.description__item {
  display: none;
  font-size: 18px;
  line-height: 26px; }

.description__item:first-child {
  display: block; }

.description__text {
  margin-top: 17px;
  margin-bottom: 0;
  padding-bottom: 33px; }
  @media (min-width: 1539px) {
    .description__text {
      padding-bottom: 29px; } }

.flip {
  max-width: 96px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  text-align: center;
  background-color: inherit; }
  @media (min-width: 1539px) {
    .flip {
      max-width: 86px; } }

.flip__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 1px; }
  .flip__item::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 50%; }
  .flip__item:hover::before {
    background-color: rgba(196, 196, 196, 0.6); }
  .flip__item:active::before {
    background-color: rgba(196, 196, 196, 0.1); }
  .flip__item‐‐active {
    cursor: default; }
  .flip__item‐‐active::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    border: 3px solid #c4c4c4;
    background-color: transparent;
    transform: translate(-50%, -50%);
    border-radius: 50%; }
  .flip__item‐‐active:hover::before {
    background-color: transparent; }

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

@media (min-width: 1539px) {
  .main {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    padding-top: 69px;
    padding-left: 0;
    padding-right: 0;
    background-image: url("../img/background-text-desktop.png");
    background-repeat: no-repeat;
    background-position: top left; } }
  @media (min-width: 1539px) and (min-width: 1539px) {
    .main {
      width: 1539px; } }

/*# sourceMappingURL=style.css.map */
